* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

  .general {
  background-image: linear-gradient(90deg, #ce9092, #d49697, rgba(232, 203, 203, 0.742));
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "header header header"
 "ciudad ciudad ciudad"
 "container container container"
 "footer footer footer";
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  width: 100vw;
  height: 100vh; }
  .general #header {
    background-color: brown;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 950px; }
    @media (min-width: 320px) {
      .general #header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 350px; } }
    @media (min-width: 320px) {
      .general #header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 380px; } }
    @media (min-width: 768px) {
      .general #header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 500px; } }
    @media (min-width: 992px) {
      .general #header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 650px; } }
    @media (min-width: 1200px) {
      .general #header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 680px; } }
    @media (min-width: 1400px) {
      .general #header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 780px; } }
    .general #header .titulo {
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 1.6rem;
      font-family: "Dancing Script", cursive;
      font-weight: bold;
      color: white;
      margin-top: 20px; }
    .general #header .titulo__expand {
      -webkit-animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
    .general #header .ciudad {
      grid-area: ciudad; }
      .general #header .ciudad .ciudad__listas__reseteo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .general #header .ciudad .ciudad__listas__reseteo li {
          list-style-type: none; }
          .general #header .ciudad .ciudad__listas__reseteo li a,
          .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link,
          .general #header .ciudad .ciudad__listas__reseteo li a:visited,
          .general #header .ciudad .ciudad__listas__reseteo li a:active {
            text-decoration: none;
            color: white;
            font-size: 1rem;
            font-weight: bold;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            padding: 10px; }
            .general #header .ciudad .ciudad__listas__reseteo li a:hover,
            .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link:hover,
            .general #header .ciudad .ciudad__listas__reseteo li a:visited:hover,
            .general #header .ciudad .ciudad__listas__reseteo li a:active:hover {
              color: #dea9a9; }
    .general #header .tandil {
      display: flex;
      justify-content: center;
      justify-items: center; }
      .general #header .tandil .ciudad__img {
        display: flex;
        justify-content: center;
        align-content: center;
        background-image: url "../assets/img/TandilyDique.jpeg";
        width: 100vw;
        height: 600px;
        opacity: 0.8;
        filter: alpha(opacity=80);
        zoom: 1;
        padding-right: 15px; }
        @media (min-width: 320px) {
          .general #header .tandil .ciudad__img {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 95%;
            height: 200px;
            padding: 10px; } }
        @media (min-width: 425px) {
          .general #header .tandil .ciudad__img {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 94%;
            height: 200px;
            padding-left: 10px; } }
        @media (min-width: 576px) {
          .general #header .tandil .ciudad__img {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 96%;
            height: 250px; } }
        @media (min-width: 768px) {
          .general #header .tandil .ciudad__img {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 96%;
            height: 360px;
            padding-left: 10px; } }
        @media (min-width: 992px) {
          .general #header .tandil .ciudad__img {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 98%;
            height: 485px; } }
        @media (min-width: 1200px) {
          .general #header .tandil .ciudad__img {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 98%;
            height: 540px; } }
        @media (min-width: 1400px) {
          .general #header .tandil .ciudad__img {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 97%;
            height: 600px; } }
    .general #header .ciudad__span {
      text-align: center;
      font-family: "Dancing Script", cursive;
      font-size: 1.6rem;
      color: white; }

/*BOOTSTRAP*/
/*BARRA DE NAVEGACION*/
body {
  background-image: linear-gradient(90deg, #ce9092, #c99c9d, rgba(232, 203, 203, 0.742));
  overflow-x: hidden; }
  body .header {
    background-color: brown; }
    body .header h1, body .header .h1 {
      font-family: "Dancing Script", cursive; }
    body .header .titulo__expand {
      -webkit-animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
    body .header .nav {
      background-color: brown; }
      body .header .nav .nav-link {
        border: none !important; }
        body .header .nav .nav-link:hover {
          color: #d63384 !important; }
    body .header .foto {
      background-image: url "../assets/img/TandilyDique.jpeg";
      width: 100vw;
      height: 650;
      opacity: 0.9;
      filter: alpha(opacity=80);
      zoom: 1; }
      @media (min-width: 320px) {
        body .header .foto {
          height: 200px !important; } }
      @media (min-width: 768px) {
        body .header .foto {
          height: 300px !important; } }
      @media (min-width: 992px) {
        body .header .foto {
          height: 400px; } }
      @media (min-width: 1200px) {
        body .header .foto {
          height: 500px !important; } }
      @media (min-width: 1400px) {
        body .header .foto {
          height: 650px !important; } }
    body .header .span .te_cuento {
      background-color: brown;
      width: 100vw;
      font-family: "Dancing Script", cursive; }

.footer {
  grid-area: footer;
  width: 100vw;
  background-color: brown;
  height: auto;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center; }
  .footer h1, .footer .h1,
  .footer h2,
  .footer .h2 {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: black; }
    @media (min-width: 320px) {
      .footer h1, .footer .h1,
      .footer h2,
      .footer .h2 {
        font-size: 1.3rem; } }
    @media (min-width: 768px) {
      .footer h1, .footer .h1,
      .footer h2,
      .footer .h2 {
        font-size: 2rem; } }
  .footer .footer__comunicarse {
    padding: 20px;
    color: black; }
    @media (min-width: 320px) {
      .footer .footer__comunicarse .informacion {
        font-size: .8rem; } }
    @media (min-width: 768px) {
      .footer .footer__comunicarse .informacion {
        font-size: 1rem; } }
  .footer .correo, .footer .footer__comunicarse {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center; }
    .footer .correo .correo__mailto, .footer .footer__comunicarse .correo__mailto {
      font-size: 1.1rem;
      font-family: "Dancing Script", cursive;
      font-weight: bold;
      color: black; }

/*FOOTER BOOTSTRAP*/
footer .container-fluid, footer .container-sm, footer .container-md, footer .container-lg, footer .container-xl, footer .container-xxl {
  background-color: brown; }
  footer .container-fluid .tit, footer .container-sm .tit, footer .container-md .tit, footer .container-lg .tit, footer .container-xl .tit, footer .container-xxl .tit, footer .container-fluid #correo .subtit, footer .container-sm #correo .subtit, footer .container-md #correo .subtit, footer .container-lg #correo .subtit, footer .container-xl #correo .subtit, footer .container-xxl #correo .subtit {
    font-family: "Dancing Script", cursive; }
  footer .container-fluid .list .informe, footer .container-sm .list .informe, footer .container-md .list .informe, footer .container-lg .list .informe, footer .container-xl .list .informe, footer .container-xxl .list .informe {
    font-size: 1rem; }
    @media (min-width: 320px) {
      footer .container-fluid .list .informe .dato, footer .container-sm .list .informe .dato, footer .container-md .list .informe .dato, footer .container-lg .list .informe .dato, footer .container-xl .list .informe .dato, footer .container-xxl .list .informe .dato {
        font-size: .6rem; } }
    @media (min-width: 768px) {
      footer .container-fluid .list .informe .dato, footer .container-sm .list .informe .dato, footer .container-md .list .informe .dato, footer .container-lg .list .informe .dato, footer .container-xl .list .informe .dato, footer .container-xxl .list .informe .dato {
        font-size: 1.2rem; } }
  footer .container-fluid #correo .correo__email, footer .container-sm #correo .correo__email, footer .container-md #correo .correo__email, footer .container-lg #correo .correo__email, footer .container-xl #correo .correo__email, footer .container-xxl #correo .correo__email {
    text-decoration: none;
    font-family: "Dancing Script", cursive; }

/*main*/
.container {
  width: 100vw;
  grid-area: container;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "sectuno sectuno"
 "sectdos sectdos";
  grid-column-gap: 5px;
  grid-row-gap: 5px; }
  .container #sectuno {
    grid-area: sectuno; }
    .container #sectuno .titulo {
      text-align: center;
      font-size: 2rem;
      font-family: "Dancing Script", cursive; }
    .container #sectuno p {
      margin: 50px;
      font-size: 1.3rem;
      text-align: justify; }
      @media (min-width: 320px) {
        .container #sectuno p {
          font-size: .8rem; } }
      @media (min-width: 576px) {
        .container #sectuno p {
          font-size: 1.3rem; } }
    .container #sectuno a {
      color: white; }
  .container #sectdos {
    grid-area: sectdos; }
    .container #sectdos .titulo2 {
      font-family: "Dancing Script", cursive;
      margin: 40px;
      font-weight: bold; }
    .container #sectdos .enumera {
      font-size: 1rem;
      font-weight: bold;
      margin: 50px;
      line-height: 2;
      background: #a74444;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      text-align: justify; }
      @media (min-width: 320px) {
        .container #sectdos .enumera {
          font-size: .7rem;
          width: 65%; } }
      @media (min-width: 768px) {
        .container #sectdos .enumera {
          font-size: 1rem;
          width: 80%; } }
      @media (min-width: 1200px) {
        .container #sectdos .enumera {
          width: 90%; } }
    .container #sectdos .vistaPanoramica {
      width: 100%; }

/*GALERIA con BOOTSTRAP*/
main section .carousel-foto {
  background-image: url "../assets/img/TandilyDique.jpeg";
  width: 100%;
  height: 400px;
  opacity: 0.7;
  filter: alpha(opacity=80);
  zoom: 1;
  border: 15px ridge brown; }

@media (min-width: 576px) and (max-width: 576px) {
  .carousel-foto {
    width: 60%;
    height: 300px; } }

@media (min-width: 620px) and (max-width: 620px) {
  .carousel-foto {
    width: 60%;
    height: 300px; } }

@media (min-width: 768px) and (max-width: 700px) {
  .carousel-foto {
    width: 60% !important;
    height: 300px; } }

@media (min-width: 992px) and (orientation: landscape) {
  .carousel-foto {
    width: 70%;
    height: 300px; } }

@media (min-width: 1200px) {
  .carousel-foto {
    width: 90%;
    height: 300px; } }

@media (min-width: 1400px) {
  .carousel-foto {
    width: 100%;
    height: 300px; } }

/*TRANSPORTE URBANO PASAJEROS*/
/*ACCORDION BOOTSTRAP*/
.container-fluid .row .titulo, .container-sm .row .titulo, .container-md .row .titulo, .container-lg .row .titulo, .container-xl .row .titulo, .container-xxl .row .titulo {
  font-family: "Dancing Script", cursive; }

.container-fluid .row .row h2, .container-sm .row .row h2, .container-md .row .row h2, .container-lg .row .row h2, .container-xl .row .row h2, .container-xxl .row .row h2, .container-fluid .row .row .h2, .container-sm .row .row .h2, .container-md .row .row .h2, .container-lg .row .row .h2, .container-xl .row .row .h2, .container-xxl .row .row .h2 {
  font-family: "Dancing Script", cursive; }

.container-fluid .row .accordion, .container-sm .row .accordion, .container-md .row .accordion, .container-lg .row .accordion, .container-xl .row .accordion, .container-xxl .row .accordion {
  background-color: transparent !important;
  opacity: 0.8 !important; }

.container-fluid .row .accordion-button:focus, .container-sm .row .accordion-button:focus, .container-md .row .accordion-button:focus, .container-lg .row .accordion-button:focus, .container-xl .row .accordion-button:focus, .container-xxl .row .accordion-button:focus {
  box-shadow: 0 0 0 0.25rem brown !important;
  color: brown !important;
  background-color: #c08383 !important; }

.container-fluid .row .accordion-button:hover, .container-sm .row .accordion-button:hover, .container-md .row .accordion-button:hover, .container-lg .row .accordion-button:hover, .container-xl .row .accordion-button:hover, .container-xxl .row .accordion-button:hover {
  color: #c38587; }

.container-fluid .row .accordion-button:active, .container-sm .row .accordion-button:active, .container-md .row .accordion-button:active, .container-lg .row .accordion-button:active, .container-xl .row .accordion-button:active, .container-xxl .row .accordion-button:active {
  color: brown !important;
  background: #8f4f4f !important; }

.container-fluid .row .accordion-button, .container-sm .row .accordion-button, .container-md .row .accordion-button, .container-lg .row .accordion-button, .container-xl .row .accordion-button, .container-xxl .row .accordion-button {
  background-color: #c67777 !important;
  font-family: "Dancing Script", cursive !important;
  font-size: 1.4rem !important;
  color: black !important; }

.container-fluid .row .accordion-item, .container-sm .row .accordion-item, .container-md .row .accordion-item, .container-lg .row .accordion-item, .container-xl .row .accordion-item, .container-xxl .row .accordion-item {
  background-color: #c36e6e !important;
  border: none !important; }

/*TURISMO Y CONTACTO CON GRID Y FLEXBOX*/
/*TURISMO*/
.container section h1, .container section .h1 {
  font-family: "Dancing Script", cursive;
  text-align: center; }

.container section table {
  grid-area: sectuno;
  border: 15px ridge brown;
  width: 90vw;
  font-size: 1rem;
  display: flex;
  flex-wrap: nowrap; }
  @media (min-width: 425px) {
    .container section table #tabla {
      display: flex;
      justify-content: center;
      align-content: center; } }
  @media (min-width: 576px) {
    .container section table #tabla {
      display: flex;
      justify-content: center;
      align-content: center; } }
  @media (min-width: 768px) {
    .container section table #tabla {
      border: 15px ridge brown; } }
  @media (min-width: 576) and (orientation: landscape) {
    .container section table #tabla {
      border: 20px ridge #b7aaaa; } }
  .container section table td {
    margin: 8px; }
    .container section table td a {
      color: white; }
  @media (min-width: 320px) {
    .container section table #historia {
      display: none; } }
  @media (min-width: 768px) {
    .container section table #historia {
      display: flex; } }

/*CONTACTO*/
.container {
  width: 100vw;
  grid-area: container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "caja box";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media (min-width: 320px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; } }
  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; } }
  .container #caja {
    grid-area: caja;
    border: 15px ridge brown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 40vw;
    flex-grow: 1; }
    @media (min-width: 320px) {
      .container #caja {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border: none;
        margin-left: 50px; } }
    @media (min-width: 576px) {
      .container #caja {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 70px; } }
    @media (min-width: 768px) {
      .container #caja {
        width: 30%;
        border: 15px ridge brown; } }
    @media (min-width: 1200px) {
      .container #caja {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 30vw;
        flex-grow: 1; } }
    .container #caja .form__datos {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center; }
      @media (min-width: 425px) {
        .container #caja .form__datos .datos__texto--bold {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          margin-left: 50px;
          font-weight: bold; } }
      @media (min-width: 768px) {
        .container #caja .form__datos .datos__texto--bold {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center; } }
      .container #caja .form__datos .datos__texto--bold #textarea {
        width: 90%;
        height: 150px; }
      .container #caja .form__datos .datos__texto--bold .datos__texto-label {
        padding: 20px;
        line-height: 1; }
      .container #caja .form__datos .datos__texto--bold .datos__texto--medida {
        border-radius: 0.5em;
        border: none;
        line-height: 1;
        margin-top: 5px; }
        .container #caja .form__datos .datos__texto--bold .datos__texto--medida:hover {
          background-color: #e6c5c5; }
      .container #caja .form__datos .datos__texto--bold #desplegable {
        width: 62%;
        border-radius: .5em; }
  .container #box {
    grid-area: box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-basis: 30vw;
    flex-grow: 1; }
    @media (min-width: 320px) {
      .container #box {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 60vw;
        margin-left: 50px; } }
    @media (min-width: 768px) {
      .container #box {
        width: 40%; } }
    @media (min-width: 1400px) {
      .container #box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 30vw;
        flex-grow: 1; } }
    .container #box #box__content h2, .container #box #box__content .h2 {
      font-family: "Dancing Script", cursive;
      margin: 20px; }
    .container #box #box__content p {
      font-size: 1.2rem; }
      @media (min-width: 320px) {
        .container #box #box__content p {
          font-size: .9rem; } }
