* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.general {
  background-image: linear-gradient(90deg, #ce9092, #d49697, rgba(232, 203, 203, 0.742));
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.1fr;
  grid-template-areas: "header header header" "container container container" "footer footer footer";
  width: 100vw;
  height: 100vh; }
  .general #header {
    background-color: brown;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100vw; }
    @media (min-width: 250px) {
      .general #header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 230px; } }
    @media (min-width: 320px) {
      .general #header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 230px; } }
    @media (min-width: 375px) {
      .general #header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 300px; } }
    @media (min-width: 425px) {
      .general #header {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 350px; } }
    @media (min-width: 576px) {
      .general #header {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        height: 500px; } }
    @media (min-width: 768px) and (orientation: landscape) {
      .general #header {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        height: 550px; } }
    @media (min-width: 1200px) {
      .general #header {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        height: 700px; } }
    .general #header .logo {
      display: flex;
      justify-content: center;
      align-content: center; }
      .general #header .logo .titulo {
        font-size: 1.5rem;
        font-family: "Dancing Script", cursive;
        font-weight: bold;
        color: white;
        position: absolute; }
        @media (min-width: 250px) {
          .general #header .logo .titulo {
            top: 7px;
            font-size: 1rem; } }
        @media (min-width: 320px) {
          .general #header .logo .titulo {
            font-size: 1.3rem; } }
        @media (min-width: 375px) {
          .general #header .logo .titulo {
            display: flex;
            justify-content: center;
            align-items: center; } }
        @media (min-width: 425px) {
          .general #header .logo .titulo {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.7rem;
            top: 20px; } }
        @media (min-width: 576px) {
          .general #header .logo .titulo {
            font-size: 1.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            font-size: 1.8rem; } }
        @media (min-width: 768px) and (orientation: landscape) {
          .general #header .logo .titulo {
            font-size: 1.9rem; } }
        @media (min-width: 1200px) {
          .general #header .logo .titulo {
            font-size: 2rem;
            margin-top: 20px; } }
      .general #header .logo .titulo__expand {
        -webkit-animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
    .general #header .abrir-menu {
      visibility: hidden;
      opacity: 0;
      font-size: 2rem;
      background-color: transparent;
      cursor: pointer; }
      @media (min-width: 250px) {
        .general #header .abrir-menu {
          visibility: visible;
          opacity: 1;
          border: 3px #b97878 solid;
          border-radius: .3em;
          top: 50px; } }
      @media (min-width: 576px) {
        .general #header .abrir-menu {
          opacity: 0;
          visibility: hidden; } }
    @media (min-width: 250px) {
      .general #header .abrir-menu.invisiblemenu {
        opacity: 0;
        visibility: hidden; } }
    .general #header .ciudad {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (min-width: 250px) {
        .general #header .ciudad {
          opacity: 0;
          visibility: hidden;
          display: flex;
          flex-direction: column;
          justify-items: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          padding: 2rem;
          gap: 3rem; } }
      @media (min-width: 576px) {
        .general #header .ciudad {
          opacity: 1;
          visibility: visible;
          display: flex;
          flex-direction: column;
          justify-items: center;
          align-items: center;
          position: relative; } }
      .general #header .ciudad .cerrar-menu {
        visibility: hidden;
        opacity: 0;
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        text-align: center;
        border: 3px #b97878 solid;
        border-radius: .3em; }
        @media (min-width: 250px) {
          .general #header .ciudad .cerrar-menu {
            visibility: visible;
            opacity: 1; } }
        @media (min-width: 320px) {
          .general #header .ciudad .cerrar-menu {
            margin-top: 15px; } }
        @media (min-width: 425px) {
          .general #header .ciudad .cerrar-menu {
            margin: 20px; } }
        @media (min-width: 576px) {
          .general #header .ciudad .cerrar-menu {
            opacity: 0; } }
      .general #header .ciudad .ciudad__listas__reseteo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center; }
        @media (min-width: 250px) {
          .general #header .ciudad .ciudad__listas__reseteo {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-content: start;
            margin: 0; } }
        @media (min-width: 576px) {
          .general #header .ciudad .ciudad__listas__reseteo {
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-content: center; } }
        .general #header .ciudad .ciudad__listas__reseteo .lista {
          -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
        .general #header .ciudad .ciudad__listas__reseteo .lista1 {
          animation-delay: 2s; }
        .general #header .ciudad .ciudad__listas__reseteo .lista2 {
          animation-delay: 4s; }
        .general #header .ciudad .ciudad__listas__reseteo .lista3 {
          animation-delay: 6s; }
        .general #header .ciudad .ciudad__listas__reseteo .lista4 {
          animation-delay: 8s; }
        .general #header .ciudad .ciudad__listas__reseteo .lista5 {
          animation-delay: 10s; }
        .general #header .ciudad .ciudad__listas__reseteo li {
          list-style-type: none; }
          .general #header .ciudad .ciudad__listas__reseteo li a,
          .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link,
          .general #header .ciudad .ciudad__listas__reseteo li a:visited,
          .general #header .ciudad .ciudad__listas__reseteo li a:active {
            text-decoration: none;
            color: white;
            font-size: 1rem;
            font-weight: bold;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
            .general #header .ciudad .ciudad__listas__reseteo li a:hover,
            .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link:hover,
            .general #header .ciudad .ciudad__listas__reseteo li a:visited:hover,
            .general #header .ciudad .ciudad__listas__reseteo li a:active:hover {
              color: #ce9092; }
            @media (min-width: 250px) {
              .general #header .ciudad .ciudad__listas__reseteo li a,
              .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link,
              .general #header .ciudad .ciudad__listas__reseteo li a:visited,
              .general #header .ciudad .ciudad__listas__reseteo li a:active {
                line-height: 1rem; } }
            @media (min-width: 320px) {
              .general #header .ciudad .ciudad__listas__reseteo li a,
              .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link,
              .general #header .ciudad .ciudad__listas__reseteo li a:visited,
              .general #header .ciudad .ciudad__listas__reseteo li a:active {
                line-height: 1.1rem; } }
            @media (min-width: 375px) {
              .general #header .ciudad .ciudad__listas__reseteo li a,
              .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link,
              .general #header .ciudad .ciudad__listas__reseteo li a:visited,
              .general #header .ciudad .ciudad__listas__reseteo li a:active {
                line-height: 1.5rem; } }
            @media (min-width: 425px) {
              .general #header .ciudad .ciudad__listas__reseteo li a,
              .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link,
              .general #header .ciudad .ciudad__listas__reseteo li a:visited,
              .general #header .ciudad .ciudad__listas__reseteo li a:active {
                line-height: 2rem; } }
            @media (min-width: 576px) {
              .general #header .ciudad .ciudad__listas__reseteo li a,
              .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link,
              .general #header .ciudad .ciudad__listas__reseteo li a:visited,
              .general #header .ciudad .ciudad__listas__reseteo li a:active {
                margin: 10px; } }
            @media (min-width: 768px) and (orientation: landscape) {
              .general #header .ciudad .ciudad__listas__reseteo li a,
              .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link,
              .general #header .ciudad .ciudad__listas__reseteo li a:visited,
              .general #header .ciudad .ciudad__listas__reseteo li a:active {
                font-size: 1.2rem; } }
            @media (min-width: 1200px) {
              .general #header .ciudad .ciudad__listas__reseteo li a,
              .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link,
              .general #header .ciudad .ciudad__listas__reseteo li a:visited,
              .general #header .ciudad .ciudad__listas__reseteo li a:active {
                font-size: 1.5rem; } }
            @media (min-width: 1400px) {
              .general #header .ciudad .ciudad__listas__reseteo li a,
              .general #header .ciudad .ciudad__listas__reseteo li .ciudad__listas__reseteo a:link,
              .general #header .ciudad .ciudad__listas__reseteo li a:visited,
              .general #header .ciudad .ciudad__listas__reseteo li a:active {
                font-size: 1.4rem; } }
    @media (min-width: 250px) {
      .general #header .ciudad.visible {
        opacity: 1;
        visibility: visible; } }
    .general #header .ciudad__nav {
      position: relative;
      min-width: 100vw;
      max-height: 100vh;
      opacity: 1;
      filter: alpha(opacity=80);
      zoom: 1; }
      @media (min-width: 250px) {
        .general #header .ciudad__nav {
          display: none;
          border-bottom: solid brown 30px; } }
      @media (min-width: 320px) {
        .general #header .ciudad__nav {
          display: none; } }
      @media (min-width: 576px) {
        .general #header .ciudad__nav {
          display: flex;
          height: 300px;
          position: relative; } }
      @media (min-width: 768px) and (orientation: landscape) {
        .general #header .ciudad__nav {
          width: 100vw;
          height: 350px; } }
      @media (min-width: 1200px) {
        .general #header .ciudad__nav {
          width: 100vw;
          height: 550px; } }

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

.footer {
  grid-area: footer;
  width: 100vw;
  background-color: brown;
  height: auto;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center; }
  @media (min-width: 250px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center; } }
  @media (min-width: 768px) and (orientation: landscape) {
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center; } }
  .footer .redes {
    display: inline-block;
    line-height: 2.5;
    text-align: center;
    padding: 10px; }
    @media (min-width: 250px) {
      .footer .redes {
        padding: 0; } }
    .footer .redes .tit__footer {
      font-family: "Dancing Script", cursive;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-top: 25px;
      color: black; }
      @media (min-width: 250px) {
        .footer .redes .tit__footer {
          font-size: 1.3rem;
          margin-top: 0; } }
      @media (min-width: 768px) and (orientation: landscape) {
        .footer .redes .tit__footer {
          font-size: 1.4rem; } }
      @media (min-width: 1200px) {
        .footer .redes .tit__footer {
          display: flex;
          font-size: 2rem; } }
    .footer .redes .red1, .footer .redes .red2, .footer .redes .red3 {
      width: 40px;
      height: 40px;
      -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
      animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
      animation-delay: 3s; }
      @media (min-width: 250px) {
        .footer .redes .red1, .footer .redes .red2, .footer .redes .red3 {
          margin: 0; } }
      .footer .redes .red1:hover, .footer .redes .red2:hover, .footer .redes .red3:hover {
        background-color: #c78181;
        cursor: pointer;
        border-top-left-radius: .4em;
        border-top-right-radius: .4em; }

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }
  .footer .footer__comunicarse {
    font-size: 1.2rem;
    color: black;
    text-align: center; }
    @media (min-width: 250px) {
      .footer .footer__comunicarse li, .footer .footer__comunicarse img {
        display: none; } }
    @media (min-width: 768px) and (orientation: landscape) {
      .footer .footer__comunicarse li, .footer .footer__comunicarse img {
        display: flex;
        font-size: .9rem; } }
    @media (min-width: 1200px) {
      .footer .footer__comunicarse li, .footer .footer__comunicarse img {
        display: flex;
        font-size: 1.2rem; } }
  .footer .correo, .footer .footer__comunicarse {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin: 60px 30px 0 0; }
    @media (min-width: 250px) {
      .footer .correo, .footer .footer__comunicarse {
        margin: 0; } }
    .footer .correo .correo__contact, .footer .footer__comunicarse .correo__contact, .footer .correo .correo__mailto, .footer .footer__comunicarse .correo__mailto {
      font-size: 2rem;
      font-family: "Dancing Script", cursive;
      font-weight: bold;
      color: black; }
      @media (min-width: 250px) {
        .footer .correo .correo__contact, .footer .footer__comunicarse .correo__contact, .footer .correo .correo__mailto, .footer .footer__comunicarse .correo__mailto {
          font-size: 1.2rem;
          align-items: center; } }
      @media (min-width: 768px) and (orientation: landscape) {
        .footer .correo .correo__contact, .footer .footer__comunicarse .correo__contact, .footer .correo .correo__mailto, .footer .footer__comunicarse .correo__mailto {
          font-size: 1.7rem; } }
      @media (min-width: 992px) {
        .footer .correo .correo__contact, .footer .footer__comunicarse .correo__contact, .footer .correo .correo__mailto, .footer .footer__comunicarse .correo__mailto {
          font-size: 2rem; } }
    .footer .correo img, .footer .footer__comunicarse img {
      width: 25px;
      height: 25px;
      margin-top: 5px; }
    .footer .correo .correo__mailto, .footer .footer__comunicarse .correo__mailto {
      font-size: 1.5rem;
      padding: 10px; }
      @media (min-width: 320px) {
        .footer .correo .correo__mailto, .footer .footer__comunicarse .correo__mailto {
          font-size: 1rem; } }
      .footer .correo .correo__mailto:hover, .footer .footer__comunicarse .correo__mailto:hover {
        background-color: #c78181;
        padding: 1px;
        border-top-left-radius: .4em;
        border-top-right-radius: .4em; }

/*main*/
.container {
  width: 100vw;
  grid-area: container;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "sectuno sectuno" "sectdos sectdos";
  grid-column-gap: 5px;
  grid-row-gap: 5px; }
  .container #sectuno {
    grid-area: sectuno; }
    .container #sectuno .titulo {
      font-size: 2rem; }
      @media (min-width: 250px) {
        .container #sectuno .titulo {
          font-size: 1.3rem;
          margin: 10px; } }
      @media (min-width: 320px) {
        .container #sectuno .titulo {
          font-size: 1.5rem;
          margin: 30px; } }
      @media (min-width: 576px) {
        .container #sectuno .titulo {
          font-size: 1.7rem; } }
      @media (min-width: 1200px) {
        .container #sectuno .titulo {
          font-size: 2rem;
          margin: 60px; } }
    .container #sectuno p {
      margin: 100px;
      font-size: 1.3rem;
      text-align: justify; }
      @media (min-width: 250px) {
        .container #sectuno p {
          font-size: .9rem;
          margin: 20px; } }
      @media (min-width: 320px) {
        .container #sectuno p {
          font-size: .9rem;
          margin: 40px; } }
      @media (min-width: 576px) {
        .container #sectuno p {
          font-size: 1.3rem; } }
      @media (min-width: 1200px) {
        .container #sectuno p {
          margin: 45px; } }
    .container #sectuno a {
      color: white; }
  .container #sectdos {
    grid-area: sectdos; }
    .container #sectdos .subtitulo {
      font-family: "Dancing Script", cursive;
      margin: 0 0 50px 30px;
      font-size: 1.8rem; }
      @media (min-width: 250px) {
        .container #sectdos .subtitulo {
          padding: 15px;
          font-size: 1.2rem; } }
      @media (min-width: 320px) {
        .container #sectdos .subtitulo {
          padding: 15px;
          font-size: 1.3rem; } }
      @media (min-width: 576px) {
        .container #sectdos .subtitulo {
          font-size: 1.5rem; } }
      @media (min-width: 1400px) {
        .container #sectdos .subtitulo {
          font-size: 1.8rem; } }
    .container #sectdos .enumera {
      font-size: 1.1rem;
      font-weight: bold;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      transition: 1s; }
      .container #sectdos .enumera .box1, .container #sectdos .enumera .box2, .container #sectdos .enumera .box3, .container #sectdos .enumera .box4, .container #sectdos .enumera .box5 {
        list-style-type: none;
        border: 8px ridge brown;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 15px;
        width: 25%;
        margin: 15px; }
        @media (min-width: 250px) {
          .container #sectdos .enumera .box1, .container #sectdos .enumera .box2, .container #sectdos .enumera .box3, .container #sectdos .enumera .box4, .container #sectdos .enumera .box5 {
            font-size: .9rem;
            width: 55%;
            font-weight: bolder; } }
        @media (min-width: 320px) {
          .container #sectdos .enumera .box1, .container #sectdos .enumera .box2, .container #sectdos .enumera .box3, .container #sectdos .enumera .box4, .container #sectdos .enumera .box5 {
            font-size: .9rem;
            width: 45%;
            margin: 10px; } }
        @media (min-width: 375px) {
          .container #sectdos .enumera .box1, .container #sectdos .enumera .box2, .container #sectdos .enumera .box3, .container #sectdos .enumera .box4, .container #sectdos .enumera .box5 {
            width: 40%; } }
        @media (min-width: 576px) {
          .container #sectdos .enumera .box1, .container #sectdos .enumera .box2, .container #sectdos .enumera .box3, .container #sectdos .enumera .box4, .container #sectdos .enumera .box5 {
            font-size: 1.2rem;
            width: 30%; } }
        @media (min-width: 768px) and (orientation: landscape) {
          .container #sectdos .enumera .box1, .container #sectdos .enumera .box2, .container #sectdos .enumera .box3, .container #sectdos .enumera .box4, .container #sectdos .enumera .box5 {
            font-size: 1.2rem;
            width: 25%; } }
        @media (min-width: 992px) {
          .container #sectdos .enumera .box1, .container #sectdos .enumera .box2, .container #sectdos .enumera .box3, .container #sectdos .enumera .box4, .container #sectdos .enumera .box5 {
            font-size: 1.3rem;
            width: 25%; } }
    .container #sectdos .vistaPanoramica {
      width: 100vw;
      height: 30%; }

#main {
  margin: auto;
  background-color: #af5f61;
  width: 100vw;
  height: 100vh; }
  @media (min-width: 320px) {
    #main {
      display: inline-block;
      width: 320px;
      height: 100vh; } }
  @media (min-width: 576px) {
    #main {
      display: inline-block;
      width: 520px;
      height: 100vh; } }
  @media (min-width: 768px) and (orientation: landscape) {
    #main {
      display: inline-block;
      width: 600px;
      height: 100vh; } }
  #main .slider__img {
    position: relative;
    width: 600px;
    height: 70vh;
    margin: 20px;
    list-style-type: none; }
    @media (min-width: 320px) {
      #main .slider__img {
        width: 280px;
        margin: 20px 10px 0 40px; } }
    @media (min-width: 576px) {
      #main .slider__img {
        width: 500px; } }
    @media (min-width: 768px) and (orientation: landscape) {
      #main .slider__img {
        width: 500px; } }
    #main .slider__img .slider__img--li {
      position: absolute;
      left: 0;
      top: 27px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity 1s; }
      @media (min-width: 1200px) {
        #main .slider__img .slider__img--li {
          top: 35px; } }
    #main .slider__img .slider__img--li:first-child {
      opacity: 1; }
    #main .slider__img .slider__img--li:target {
      opacity: 1; }
    #main .slider__img .slider__img--ancho {
      margin: 0;
      width: 100%;
      height: 60vh;
      object-fit: cover; }
      @media (min-width: 320px) {
        #main .slider__img .slider__img--ancho {
          width: 80%; } }
      @media (min-width: 576px) {
        #main .slider__img .slider__img--ancho {
          width: 80%; } }
      @media (min-width: 768px) and (orientation: landscape) {
        #main .slider__img .slider__img--ancho {
          width: 90%;
          height: 65vh; } }
      @media (min-width: 992px) {
        #main .slider__img .slider__img--ancho {
          width: 94%; } }
      @media (min-width: 1200px) {
        #main .slider__img .slider__img--ancho {
          width: 96%; } }
      @media (min-width: 1400px) {
        #main .slider__img .slider__img--ancho {
          width: 98%; } }
  #main .menu {
    margin-top: 10px; }
    #main .menu .menu__numero {
      display: inline-flex; }
      @media (min-width: 320px) {
        #main .menu .menu__numero {
          display: inline-flex; } }
      @media (min-width: 576px) {
        #main .menu .menu__numero {
          margin: 5.5px; } }
      #main .menu .menu__numero .id {
        display: inline-flex;
        color: black;
        text-decoration: none;
        background-color: brown;
        padding: 15px;
        height: 10px;
        width: 10px;
        font-size: 1.3rem;
        border-radius: 100%; }
        @media (min-width: 320px) {
          #main .menu .menu__numero .id {
            display: inline;
            font-size: 1rem;
            padding: 13px;
            margin: 5px;
            height: 4px;
            width: 4px; } }
        @media (min-width: 768px) and (orientation: landscape) {
          #main .menu .menu__numero .id {
            margin: 3px; } }
        @media (min-width: 992px) {
          #main .menu .menu__numero .id {
            margin: 5px; } }
        @media (min-width: 1200px) {
          #main .menu .menu__numero .id {
            font-size: 1.2rem;
            padding: 15px; } }
        #main .menu .menu__numero .id:hover {
          transform: scale(1.4);
          transition-duration: 2s;
          background-color: #a91717;
          color: white;
          cursor: pointer; }
          @media (min-width: 320px) {
            #main .menu .menu__numero .id:hover {
              transform: scale(1.2); } }

.container #sectuno .parrafo {
  margin: 20px 100px 0 100px; }
  @media (min-width: 250px) {
    .container #sectuno .parrafo {
      margin: 10px; } }
  @media (min-width: 320px) {
    .container #sectuno .parrafo {
      margin: 20px; } }
  @media (min-width: 992px) {
    .container #sectuno .parrafo {
      margin: 50px; } }
  @media (min-width: 1400px) {
    .container #sectuno .parrafo {
      margin: 20px 100px 0 100px; } }

.container #sectuno .conten {
  position: relative;
  transition-duration: 1s;
  transition: transform 1s; }
  .container #sectuno .conten:hover {
    transform: scale(1.1);
    cursor: pointer; }
  .container #sectuno .conten .conten__viaje {
    position: relative;
    z-index: 1;
    border: 2px solid #b25659;
    height: 170px;
    margin: 20px;
    width: 23%;
    left: 30%; }
    @media (min-width: 250px) {
      .container #sectuno .conten .conten__viaje {
        width: 55%;
        height: 100px;
        left: 40px; } }
    @media (min-width: 320px) {
      .container #sectuno .conten .conten__viaje {
        width: 65%;
        height: 130px;
        left: 40px; } }
    @media (min-width: 425px) {
      .container #sectuno .conten .conten__viaje {
        width: 26%;
        height: 65px;
        left: 96px; } }
    @media (min-width: 576px) {
      .container #sectuno .conten .conten__viaje {
        width: 26%;
        height: 80px;
        left: 120px; } }
    @media (min-width: 768px) and (orientation: landscape) {
      .container #sectuno .conten .conten__viaje {
        width: 26%;
        height: 110px;
        left: 200px; } }
    @media (min-width: 992px) {
      .container #sectuno .conten .conten__viaje {
        width: 26%;
        height: 150px;
        left: 220px; } }
    @media (min-width: 1200px) {
      .container #sectuno .conten .conten__viaje {
        width: 25%;
        height: 170px;
        left: 22%; } }
  .container #sectuno .conten .conten_viaje_caja {
    position: absolute;
    z-index: 3;
    border: 2px solid #b25659;
    height: 170px;
    width: 22%;
    left: 430px;
    top: 50px; }
    @media (min-width: 250px) {
      .container #sectuno .conten .conten_viaje_caja {
        display: none; } }
    @media (min-width: 425px) {
      .container #sectuno .conten .conten_viaje_caja {
        display: inline-block;
        height: 65px;
        width: 26%;
        left: 170px; } }
    @media (min-width: 576px) {
      .container #sectuno .conten .conten_viaje_caja {
        width: 22%;
        height: 90px;
        left: 200px; } }
    @media (min-width: 768px) and (orientation: landscape) {
      .container #sectuno .conten .conten_viaje_caja {
        width: 23%;
        height: 110px;
        left: 300px; } }
    @media (min-width: 992px) {
      .container #sectuno .conten .conten_viaje_caja {
        width: 26%;
        height: 160px;
        left: 320px; } }
    @media (min-width: 1200px) {
      .container #sectuno .conten .conten_viaje_caja {
        width: 26%;
        height: 170px;
        left: 400px; } }
    @media (min-width: 1400px) {
      .container #sectuno .conten .conten_viaje_caja {
        height: 160px;
        width: 24%;
        left: 500px; } }
  .container #sectuno .conten .conten_viajecaja_otra {
    position: absolute;
    z-index: 4;
    border: 2px solid #b25659;
    width: 29%;
    left: 580px;
    top: 75px;
    height: 155px; }
    @media (min-width: 250px) {
      .container #sectuno .conten .conten_viajecaja_otra {
        display: none; } }
    @media (min-width: 425px) {
      .container #sectuno .conten .conten_viajecaja_otra {
        display: inline-block;
        width: 25%;
        height: 65px;
        left: 210px; } }
    @media (min-width: 576px) {
      .container #sectuno .conten .conten_viajecaja_otra {
        width: 23%;
        height: 65%;
        left: 250px; } }
    @media (min-width: 768px) and (orientation: landscape) {
      .container #sectuno .conten .conten_viajecaja_otra {
        width: 22%;
        height: 110px;
        left: 400px; } }
    @media (min-width: 992px) {
      .container #sectuno .conten .conten_viajecaja_otra {
        width: 26%;
        height: 150px;
        left: 400px; } }
    @media (min-width: 1200px) {
      .container #sectuno .conten .conten_viajecaja_otra {
        height: 170px;
        width: 23%;
        left: 550px; } }
    @media (min-width: 1400px) {
      .container #sectuno .conten .conten_viajecaja_otra {
        width: 25%;
        left: 650px;
        height: 170px; } }

.container #sectuno .subtitulo {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  text-align: center;
  margin: 50px; }
  @media (min-width: 250px) {
    .container #sectuno .subtitulo {
      font-size: 1.5rem; } }
  @media (min-width: 1200px) {
    .container #sectuno .subtitulo {
      font-size: 2rem; } }

.container #sectuno .enumera {
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  transition: 1s; }
  .container #sectuno .enumera .box1, .container #sectuno .enumera .box2, .container #sectuno .enumera .box3, .container #sectuno .enumera .box4, .container #sectuno .enumera .box5 {
    list-style-type: none;
    border: 8px ridge brown;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 15px;
    width: 25%;
    margin: 15px; }
    @media (min-width: 250px) {
      .container #sectuno .enumera .box1, .container #sectuno .enumera .box2, .container #sectuno .enumera .box3, .container #sectuno .enumera .box4, .container #sectuno .enumera .box5 {
        width: 60%; } }
    @media (min-width: 768px) and (orientation: landscape) {
      .container #sectuno .enumera .box1, .container #sectuno .enumera .box2, .container #sectuno .enumera .box3, .container #sectuno .enumera .box4, .container #sectuno .enumera .box5 {
        padding: 2px;
        width: 25%; } }
    @media (min-width: 992px) {
      .container #sectuno .enumera .box1, .container #sectuno .enumera .box2, .container #sectuno .enumera .box3, .container #sectuno .enumera .box4, .container #sectuno .enumera .box5 {
        padding: 5px; } }
    @media (min-width: 1400px) {
      .container #sectuno .enumera .box1, .container #sectuno .enumera .box2, .container #sectuno .enumera .box3, .container #sectuno .enumera .box4, .container #sectuno .enumera .box5 {
        padding: 10px; } }
    .container #sectuno .enumera .box1:hover, .container #sectuno .enumera .box2:hover, .container #sectuno .enumera .box3:hover, .container #sectuno .enumera .box4:hover, .container #sectuno .enumera .box5:hover {
      transform: scale(1.1);
      transition-duration: 2s;
      background-color: #cd7979;
      color: white;
      cursor: pointer; }

.container #sectdos #iframe {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 30px; }
  .container #sectdos #iframe iframe {
    width: 100vw;
    height: 600px;
    border: none; }
    @media (min-width: 250px) {
      .container #sectdos #iframe iframe {
        height: 400px; } }
    @media (min-width: 992px) {
      .container #sectdos #iframe iframe {
        height: 600px; } }

.container #sectdos .mencion {
  font-size: 1.3rem;
  margin: 50px; }
  @media (min-width: 250px) {
    .container #sectdos .mencion {
      font-size: 1rem; } }

/*TURISMO Y CONTACTO CON GRID Y FLEXBOX*/
/*TURISMO*/
.container #sectuno {
  grid-area: sectuno; }
  .container #sectuno h1 {
    font-family: "Dancing Script", cursive;
    font-size: 1.8rem;
    text-align: center; }
  .container #sectuno #tabla {
    border: 15px ridge brown;
    width: 90vw;
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;
    margin: 40px; }
    @media (min-width: 425px) {
      .container #sectuno #tabla {
        display: flex;
        justify-content: center;
        align-content: center; } }
    @media (min-width: 576px) {
      .container #sectuno #tabla {
        display: flex;
        justify-content: center;
        align-content: center; } }
    @media (min-width: 768px) and (orientation: landscape) {
      .container #sectuno #tabla {
        border: 15px ridge brown; } }
    @media (min-width: 768) and (orientation: landscape) {
      .container #sectuno #tabla {
        border: 20px ridge #b7aaaa; } }
  .container #sectuno td {
    margin: 8px; }
    .container #sectuno td a {
      color: white; }
  @media (min-width: 320px) {
    .container #sectuno #historia {
      display: none; } }
  @media (min-width: 768px) and (orientation: landscape) {
    .container #sectuno #historia {
      display: flex; } }

/*CONTACTO*/
.container {
  width: 100vw;
  grid-area: container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "caja box";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px; }
  @media (min-width: 320px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; } }
  @media (min-width: 768px) and (orientation: landscape) {
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; } }
  .container #caja {
    grid-area: caja;
    border: 15px ridge brown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 40vw;
    flex-grow: 1;
    padding: 10px; }
    @media (min-width: 320px) {
      .container #caja {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border: none;
        margin-left: 30px; } }
    @media (min-width: 576px) {
      .container #caja {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 50px; } }
    @media (min-width: 768px) and (orientation: landscape) {
      .container #caja {
        flex-basis: 30vw;
        flex-grow: 1;
        border: 10px ridge brown;
        margin: 20px; } }
    @media (min-width: 992px) {
      .container #caja {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; } }
    .container #caja .form__datos {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center; }
      @media (min-width: 250px) {
        .container #caja .form__datos .datos__texto--bold {
          border: none; } }
      @media (min-width: 425px) {
        .container #caja .form__datos .datos__texto--bold {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          margin-left: 50px;
          font-weight: bold;
          border: none; } }
      @media (min-width: 768px) and (orientation: landscape) {
        .container #caja .form__datos .datos__texto--bold {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center; } }
      .container #caja .form__datos .datos__texto--bold #textarea {
        width: 90%;
        height: 150px; }
      .container #caja .form__datos .datos__texto--bold .datos__texto-label {
        padding: 20px;
        line-height: 1; }
      .container #caja .form__datos .datos__texto--bold .datos__texto--medida {
        border-radius: 0.5em;
        border: none;
        line-height: 1;
        margin-top: 5px; }
        .container #caja .form__datos .datos__texto--bold .datos__texto--medida:hover {
          background-color: #e6c5c5; }
      .container #caja .form__datos .datos__texto--bold #desplegable {
        width: 62%;
        border-radius: 0.5em; }
  .container #box {
    grid-area: box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-basis: 30vw;
    flex-grow: 1; }
    @media (min-width: 320px) {
      .container #box {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 90%;
        margin-left: 20px; } }
    @media (min-width: 768px) and (orientation: landscape) {
      .container #box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 30vw;
        flex-grow: 1; } }
    @media (min-width: 1200px) {
      .container #box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 30vw;
        flex-grow: 1; } }
    .container #box #box__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 80%; }
      .container #box #box__content h2 {
        font-family: "Dancing Script", cursive;
        margin: 20px; }
      .container #box #box__content p {
        font-size: 1.2rem; }
        @media (min-width: 320px) {
          .container #box #box__content p {
            font-size: 0.9rem; } }
        @media (min-width: 1200px) {
          .container #box #box__content p {
            font-size: 1.2rem; } }
