*{
    margin:0;
    padding:0;
    box-sizing:content-box;
    
}
/*NAV*/
.general {
  background-image: linear-gradient(
    90deg,
    #ce9092,
    #d49697,
    rgba(232, 203, 203, 0.742)
  );
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "header header header"
    "ciudad ciudad ciudad"
    "container container container"
    "footer footer footer";
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  width: 100vw;
  height: 100vh;
}
#header {
  background-color: brown;
  grid-area: header;
  width: 100vw;
  height: 925px;
}
.titulo {
  font-family: "Dancing Script", cursive;
  font-size: 2.2rem;
  text-align: center;
  padding: 10px;
  color: white;
  height: 10%;
}

.titulo__expand {
  -webkit-animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.ciudad {
  grid-area: ciudad;
}
.ciudad__listas__reseteo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  list-style-type: none;

}
a,
.ciudad__listas__reseteo a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
}
a:hover {
  color: rgb(247, 221, 221);
}
.ciudad__nav__img {
  background-image: (url "../assets/img/TandilyDique.jpeg");
  width: 97vw;
  opacity: .9;
  filter: alpha(opacity=80);
  zoom: 1;
  margin-left: 10px;
}
.ciudad__span {
  background-color: brown;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: white;
}

/*main*/
section{
    overflow: hidden;
}
h2{
    text-align: center;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    padding: 20px;
}
.container{
    width: 100vw;
    text-align: center;
}
p{
   margin:50px;
   font-size: 1.1em;
   text-align: justify;

} 
.enumera{
    font-size: 1.1em;
    font-weight: bold;
    margin: 50px;
    line-height: 3;
    background: rgb(167, 68, 68);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: justify;
} 

  
span{
    font-weight: bolder;
    font-size: 1em;
}
.vistaPanoramica{
    width: 100%;
}
/*FOOTER*/
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  text-align: center;
  padding: 20px;
  color: black;
}
.footer {
  width: 100vw;
  background-color: brown;
  font-size: 1rem;
  height: auto;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
.correo__mailto {
  font-size: 1.2rem;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: black;
}
.footer__comunicarse,
.correo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.footer__comunicarse {
  padding: 20px;
}
/*GALERIA con BOOTSTRAP*/
/*BARRA DE NAVEGACION*/
  
  .titulo__expand {
    -webkit-animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
    animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  @-webkit-keyframes titulo__expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes titulo__expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .foto{
    background-image: (url "../assets/img/TandilyDique.jpeg");
    width: 100vw;
    height: 400px;
    opacity: 0.7;
    filter: alpha(opacity=80);
    zoom: 1;
  }
  .header, .navbar {
    background-color: brown;
  
  }
  .te_cuento{
    background-color: brown;
    width: 100vw;
    font-size: 2rem;
    text-align: center;
    font-family: "Dancing Script", cursive;
  }
  body{
    background-image: linear-gradient(
      90deg,
      #ce9092,
      #c99c9d,
      rgba(232, 203, 203, 0.742)
    );
    overflow-x: hidden;
}
.carousel-item {
  width: 600px !important;
  height: 400px !important;
  image-rendering: crisp-edges; /*la imagen escala con logaritmo que preserva contraste y bordes y no suaviza colores*/
}
.border{
  background-color: rgb(180, 77, 77);
}
/*FOOTER con BOOTSTRAP*/
footer{
  background-color: brown;
}
footer>h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}
.text-black{
  font-size:2rem;
}
.informe{
  font-size: 1rem;
}
.bi{
  color: black;
}
#correo > h2{
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
}
.correo__email{
  font-family: "Dancing Script", cursive;
  font-size: 1.2rem;
  font-family: "Dancing Script", cursive;
  text-decoration: none;
}


/*TRANSPORTE URBANO PASAJEROS*/

.contenedor {
    position: relative;
  }
  .contenedor__viaje{
    position: relative;
    z-index: 1;
    border: 2px solid #b25659;
    height: 160px;
    margin:40px;
    width:20%;
    left: 20%;
  }
  
  .contenedor__viaje__caja {
    position: absolute;
    z-index: 3; 
    border: 2px solid #b25659;
    height: 160px;  
    width: 30%;
    left: 450px;
    top: 50px;
  }
  
  .contenedor__viaje__caja__otra {
    position: absolute;
    z-index: 4;
    border: 2px solid #b25659;
    width: 20%;
    left: 660px;
    top: 75px;
    height: 160px;
  }
  .list{
    margin: 60px;
    font-size: 1.2em;
    text-align: justify;
    line-height: 2;
    background: #b25659;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
  iframe{
  border: 1px solid black;
  width: 100%;

  }
  h3{
    text-align: center;
    margin-bottom: 15px;
  }
/*TURISMO*/
table{
    margin: 75px;
    width: 85%;
    border:15px ridge #b25659;
}
td{
    text-align: justify;
    font-size: 1.2em;
}
/*CONTACTO*/
.datos__texto--bold{
    font-weight: bold;

}
.datos__texto{
    margin: 20px;
}
select, textarea, label, input{
    margin: 10px 15px 0 10px;
    
}
input{
    padding: 10px;
    border-radius: .5em;
    border: none;

}
input:hover{
    background-color:rgb(230, 197, 197);;

}
main{
    width: 100vw;
    height:100%;
    
}
.cajas{
    background:  rgb(161, 76, 76); 
    width: 61vw;
    height: 85%;
    padding: 10px;
    display: inline-block;
    border:15px ridge #b25659; 
    margin:30px;
    padding: 10px;
}
aside{
    background: rgb(185, 96, 96);
    width: 26vw;
    display: inline-block;
    text-align: justify;
    border:15px ridge #b25659;
    margin-bottom: 35px;
}

#contentBox{
    padding: 25px;
}
