.footer {
  grid-area: footer;
  width: 100vw;
  background-color: $background-header;
  height: auto;
  grid-area: footer;
  @include flexbox(row, space-around, center);
  @include pequeño{
    @include flexbox3(column, center, center);
  }
  @include mobile2{
    @include flexbox(row, space-around, center);
    }
  
  
  .redes{
    display: inline-block;
    line-height: 2.5;
    text-align: center;
    padding: 10px;
    @include pequeño{
      padding: 0;
    }
  .tit__footer{
    font-family: $font-ciudad;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top:25px;
    color: black;
    @include pequeño{
      font-size: 1.3rem;
      margin-top:0;
    }
    @include mobile2{
      font-size: 1.4rem;
    }
    @include mobile4{
      display: flex;
      font-size: 2rem;
      }
  }
    .red1, .red2, .red3{
      width:40px;
      height: 40px;
      -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
      animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
      animation-delay: 3s;
      
      @include pequeño{
        margin: 0;
      }
    &:hover{
      background-color: rgb(199, 129, 129);
      cursor: pointer;
      border-top-left-radius: .4em;
      border-top-right-radius: .4em;
    } 
   
    @-webkit-keyframes slide-in-blurred-left {
      0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
    @keyframes slide-in-blurred-left {
      0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
    }
}

  .footer__comunicarse {
    font-size: 1.2rem;
    @extend .correo;
    color: $anchor;
    text-align: center;
    li, img{
    @include pequeño{
    display: none;
    }
    @include mobile2{
    display: flex;
    font-size: .9rem;
    }
    @include mobile4{
      display: flex;
      font-size: 1.2rem;
      }
    }
  }
  .correo {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin: 60px 30px 0 0;
   @include pequeño{
    margin: 0;
   }
    .correo__contact{
      font-size: 2rem;
      font-family: $font-ciudad;
      font-weight: bold;
      color: $anchor;
    @include pequeño{
      font-size: 1.2rem;
      align-items: center;
    }
    @include mobile2{
      font-size: 1.7rem;
    }
    @include mobile3{
      font-size: 2rem;
    }
    }
    img{
      width: 25px;
      height: 25px;
      margin-top: 5px;
    }
    .correo__mailto {
      font-size: 1.5rem;
      padding: 10px;
      @extend .correo__contact;
      @include mobile{
        font-size: 1rem;
      }
      &:hover{
        background-color: rgb(199, 129, 129);
        padding: 1px;
        border-top-left-radius: .4em;
      border-top-right-radius: .4em;
      }
      }
    }
  }

