.footer {
  grid-area: footer;
  width: 100vw;
  background-color: $background-header;
  height: auto;
  grid-area: footer;
  @include flexbox(row, space-around, center);

  h1,
  h2 {
    font-family: $font-ciudad;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: black;
    @include mobile{
      font-size: 1.3rem;
    }
    @include mobile2{
      font-size: 2rem;
    }
  }
  .footer__comunicarse {
    @extend .correo;
    padding: 20px;
    color: $anchor;
    .informacion{
    @include mobile{
      font-size: .8rem;
    }
    @include mobile2{
      font-size: 1rem;
    }
    }
  }
  .correo {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

    .correo__mailto {
      font-size: 1.1rem;
      font-family: $font-ciudad;
      font-weight: bold;
      color: $anchor;

      }
    }
  }


