.general {
  background-image: linear-gradient(
    90deg,
    #ce9092,
    #d49697,
    rgba(232, 203, 203, 0.742)
  );
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.2fr;
  grid-template-areas:
    "header header header"
    "container container container"
    "footer footer footer";
  width: 100vw;
  height: 100vh;

#header {
  background-color: $background-header;
  grid-area: header;
  @include flexbox(column, center, center);
  width: 100vw;
  position: relative;
  /*
  @include mobile{
    @include  flexbox2(center, center);
    height: 350px;
  }
  @include mobile{
    @include  flexbox2(center, center);
    height: 380px;
  }
  @include mobile2{
    @include  flexbox2(center, center);
    height: 500px;
  }
  @include mobile5{
    @include  flexbox2(center, center);
    height: 650px;
  }
  @include mobile3{
    @include  flexbox2(center, center);
    height: 680px;
  }
  @include mobile4{
    @include  flexbox2(center, center);
    height: 780px;
  }*/

.titulo {
  font-size: 1.6rem;
  font-family: $font-ciudad;
  font-weight: bold;
  color: $color-h1;
  margin: 20px;
  text-align: center;
}
.titulo__expand {
  -webkit-animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.respmenu input,
.respmenu .fa-bars,
.respmenu .fa-times{
  display: none;
}
.ciudad__listas__reseteo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
li {
  list-style-type: none;

a,
.ciudad__listas__reseteo a:link,
a:visited,

a:active {
  text-decoration: none;
  color: $color-h1;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  &:hover {
  color: rgb(222, 169, 169);
  cursor: pointer;
}
}
}
}

.ciudad__nav__img {
  min-width:100vw;
  max-height:100vh;
  opacity: 0.8;
  filter: alpha(opacity=80);
  zoom: 1;

  @include mobile{
    @include  flexbox2(center, center);
    width: 100%;
    height: 200px;
    
  }
  @include mobile_otro{
    @include  flexbox2(center, center);
    width: 100%;
    height: 200px;
    
   
  }
  @include mobile1{
    @include  flexbox2(center, center);
    width: 100%;
    height: 250px;
    
  }
  @include mobile2{
    @include  flexbox2(center, center);
    width: 100%;
    height: 360px;
    
  }
  @include mobile5{
    @include  flexbox2(center, center);
    width: 100%;
    height: 485px;
  }
  @include mobile3{
    @include  flexbox2(center, center);
    width: 100%;
    height: 540px;
  }
  @include mobile4{
    @include  flexbox2(center, center);
    width: 100%;
    height: 600px;
  }
 }


.ciudad__tit{
  background-color: $background-header;
  text-align: center;
  font-family: $font-ciudad;
  font-size: 1.6rem;
  color: $color-h1;

}
}
}



