.general {
  background-image: linear-gradient(
    90deg,
    #ce9092,
    #d49697,
    rgba(232, 203, 203, 0.742)
  );
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "header header header"
    "ciudad ciudad ciudad"
    "container container container"
    "footer footer footer";
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  width: 100vw;
  height: 100vh;

#header {
  background-color: $background-header;
  grid-area: header;
  width: 100vw;
  height:755px;

  @include mobile{
    width: 100vw;
    height: 400px;
  }
  @include mobile1{
    width:100vw;
    height: 460px;
  }
  @include mobile2{
    width: 100vw;
    height: 560px;
  
  }
  @include mobile4{
    width: 100vw;
    height: 970px;
  
  }
  


.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: $font-ciudad;
  font-weight: bold;
  color: $color-h1;
  margin-top: 20px;

}
.titulo__expand {
  -webkit-animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.ciudad {
  grid-area: ciudad;

.ciudad__listas__reseteo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
li {
  list-style-type: none;

}
a,
.ciudad__listas__reseteo a:link,
a:visited,
a:active {
  text-decoration: none;
  color: $color-h1;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  &:hover {
  color: rgb(222, 169, 169);
}
}
}
.ciudad__nav{
 display:flex;
 justify-content: center;
 align-content: center;
.ciudad__nav__img {
  background-image: (url "../assets/img/TandilyDique.jpeg");
  width: 98%;
  height: 800px;
  opacity: 0.9;
  filter: alpha(opacity=80);
  zoom: 1;
 
  @include mobile{
    margin: 6px;
    width: 95%;
    height: 200px;
  }
  @include mobile1{
    margin: 6px;
    width: 95%;
    height: 300px;
  }
  @include mobile2{
    margin: 6px;
    width: 95%;
    height: 400px;
  }
  @include mobile4{
    width: 94%;
    height: 800px;
  }
}
}
.ciudad__span {
  @extend .ciudad__listas__reseteo;
  font-family: $font-ciudad;
  font-size: 1.6rem;
  color: $color-h1;

}
}
}

/*BOOTSTRAP*/
  /*BARRA DE NAVEGACION*/
  body {
    background-image: linear-gradient(
      90deg,
      #ce9092,
      #c99c9d,
      rgba(232, 203, 203, 0.742)
    );
    overflow-x: hidden;
  
  .header{
    background-color: $background-header;
    h1{
      font-family: $font-ciudad;
    }
  
    .titulo__expand {
    -webkit-animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
    animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  @-webkit-keyframes titulo__expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes titulo__expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .navbar {
    background-color: $background-header;
  .nav-link{
    border: none!important;
  }
  .nav-link:hover{
      color: map-get($colors, "pink")!important;
     }
    
 .foto {
    background-image: (url "../assets/img/TandilyDique.jpeg");
    width: 100vw;
    height: 400px;
    opacity: 0.7;
    filter: alpha(opacity=80);
    zoom: 1;
 }
 h2{
  font-family: $font-ciudad;
 
  .te__cuento-color{
    background-color: map-get($theme-colors, "danger");
    width: 100vw;
  }
}
  }
}
}
} 