.general {
  background-image: linear-gradient(
    90deg,
    #ce9092,
    #d49697,
    rgba(232, 203, 203, 0.742)
  );
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.2fr;
  grid-template-areas:
    "header header header"
    "container container container"
    "footer footer footer";
  width: 100vw;
  height: 100vh;

#header {
  background-color: $background-header;
  grid-area: header;
  @include flexbox(column, center, center);
  width: 100vw;
  position: relative;
  
  @include mobile{
    @include  flexbox2(center, center);
    height: 350px;
  }
  @include mobile{
    @include  flexbox2(center, center);
    height: 380px;
  }
  @include mobile2{
    @include  flexbox2(center, center);
    height: 500px;
  }
  @include mobile5{
    @include  flexbox2(center, center);
    height: 650px;
  }
  @include mobile3{
    @include  flexbox2(center, center);
    height: 680px;
  }
  @include mobile4{
    @include  flexbox2(center, center);
    height: 780px;
  }

.titulo {
  font-size: 1.6rem;
  font-family: $font-ciudad;
  font-weight: bold;
  color: $color-h1;
  margin: 20px;
  text-align: center;
}
.titulo__expand {
  -webkit-animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: titulo__expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titulo__expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.respmenu{
.input[type="checkbox"]{
  @include mobile{
  position: absolute;
  padding: 10px;
  margin: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  opacity: 0;
  @include mobile{
    position: relative;
    min-height: 25px;
  }
}

.fa-bars {
  display: none;
  @include mobile{
    display: flex;
    pointer-events: none;
    font-size: 25px;
    color: #ce9092;

  }
}
.fa-times{
  @extend .fa-bars;
  @include mobile{
    display: flex;
    pointer-events: none;
    font-size: 25px;
    color: #ce9092;
}
}
.input{
  @extend .fa-bars;
  @include mobile{
    .input:checked ~ .ciudad__listas__reseteo{
       display: block;
       &:checked ~ .fa-bars{
        display: none;
       &:not(:checked) ~ .fa-times{
        display:none;
       }
      }
    }
  }
}
}
.ciudad__listas__reseteo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @include mobile{
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

li {
  list-style-type: none;
 

a,
.ciudad__listas__reseteo a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;

  @include mobile{
    text-shadow: 3px 3px black;
    font-size: 1rem;
  }

&:hover {
  color: rgb(247, 221, 221);
  cursor: pointer;
}
}
}
} 
.ciudad__nav__img{
  opacity: 0.8;
  filter: alpha(opacity=80);
  zoom: 1;
  min-width: 100vw;
  max-height: 100vh;

  @include mobile{
    width: 50%;
    height: 150px;
  }
}


.ciudad__subtit {
  background-color: brown;
  text-align: center;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: white;

  @include mobile{
   font-size: 1.3rem;
  }
}
}
}
}



