/*CONTACTO*/
.container{
  width: 100vw;
  grid-area: container;
}
  #content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "caja box";

     #caja{
        grid-area: caja;
        border: $border;
        width: 38vw;
      
      .form__datos{
          display: flex;
          flex-direction: column;
          align-items: center;
          .datos__texto--bold {
            font-weight: bold;
            
          }
          
label {
  padding: 20px;
  line-height: 1;

}
input {
  border-radius: 0.5em;
  border: none;
  line-height: 1;
  margin-top: 5px;

&:hover {
  background-color: rgb(230, 197, 197);
}
    
}
    }
  }
#box {
  grid-area: box;
  width: 40vw;
  display: flex;
  justify-items: center;
  align-items: center;
 

  #box__content{
  
h2{
  font-family: $font-ciudad;
  margin: 20px;
}

p {
  font-size: 1.2rem;
}
}
}
     }
    