#main {
  margin: auto;
  background-color: #af5f61;
  width: 100vw;
  height: 100vh;

  @include mobile {
    display: inline-block;
    width: 320px;
    height: 100vh;
  }
  @include mobile1 {
    display: inline-block;
    width: 520px;
    height: 100vh;
  }
  @include mobile2 {
    display: inline-block;
    width: 600px;
    height: 100vh;
  }
 
  .slider__img {
    position: relative;
    width: 600px;
    height: 70vh;
    margin: 20px;
    list-style-type: none;

    @include mobile {
      width: 280px;

      margin: 20px 10px 0 40px;
    }
    @include mobile1 {
      width: 500px;
      
     
    }
    @include mobile2 {
      width: 500px;
     
    }

    .slider__img--li {
      position: absolute;
      left: 0;
      top: 27px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity 1s;
      @include mobile4{
        top: 35px;
      }
    }
    .slider__img--li:first-child {
      opacity: 1;
    }
    .slider__img--li:target {
      opacity: 1;
    }

    .slider__img--ancho {
      margin: 0;
      width: 100%;
      height: 60vh;
      object-fit: cover;
      
      @include mobile {
        width: 80%;
      }
      @include mobile1 {
        width: 80%;
      }
      @include mobile2 {
        width: 90%;
        height: 65vh;
      }
      @include mobile3 {
        width: 94%;
      }
      @include mobile4{
        width: 96%;
      }
      @include mobile5{
        width: 98%;
      }
    }
  }
  
  .menu {
    margin-top: 10px;
    .menu__numero {
      display: inline-flex;
      @include mobile {
        display: inline-flex;
      }
      @include mobile1 {
        margin: 5.5px;
      }

      .id {
        display: inline-flex;
        color: black;
        text-decoration: none;
        background-color: brown;
        padding: 15px;
        height: 10px;
        width: 10px;
        font-size: 1.3rem;
        border-radius: 100%;
        @include mobile {
          display: inline;
          font-size: 1rem;
          padding: 13px;
          margin: 5px;
          height: 4px;
          width: 4px;
        }
        @include mobile2 {
          margin: 3px;
        }
        @include mobile3{
          margin: 5px;
        }
        @include mobile4{
          font-size: 1.2rem;
          padding:15px;
        }
       
        &:hover {
          transform: scale(1.4);
          transition-duration: 2s;
          background-color: rgb(169, 23, 23);
          color: white;
          cursor: pointer;
          @include mobile {
            transform: scale(1.2);
          }
        }
      }
    }
  }

}