/*GALERIA con BOOTSTRAP*/
main{
    section{
.carousel-foto {
  background-image: (url "../assets/img/TandilyDique.jpeg");
  width: 100%;
  height: 400px;
  opacity: 0.7;
  filter: alpha(opacity=80);
  zoom: 1;
  border: 15px ridge $background-header;
}
}
}   
@media (min-width: 576px)and(max-width: 576px){
  .carousel-foto{
  @include tamanos(60%, 300px);
}
}
@media (min-width: 620px)and(max-width: 620px){
  .carousel-foto{
    @include tamanos(60%, 300px);
}
}
@media (min-width: 768px)and(max-width: 700px){
  .carousel-foto{
    width: 60%!important;
    height: 300px;
  }
}
@media (min-width: 992px)and(orientation:landscape){
  .carousel-foto{
      @include tamanos(70%, 300px);
  }
}
@media (min-width: 1200px){
  .carousel-foto{
      @include tamanos(90%, 300px);
  }
}
@media (min-width: 1400px){
  .carousel-foto{
      @include tamanos(100%, 300px);
  }
}