/*TURISMO Y CONTACTO CON GRID Y FLEXBOX*/

/*TURISMO*/
.container{
    
  section {
    h1{
        font-family: $font-ciudad;
        text-align: center;
    }
    table {
      grid-area: sectuno;
      border:$border;
      width: 90vw; 
      font-size: 1rem;
      display: flex;
      flex-wrap: nowrap;
    #tabla{
      @include mobile_otro{
        @include flexbox2 (center, center);

      }
      @include mobile1{
        @include flexbox2 (center, center);

      }
      
      @include mobile2 {
        border: $border;
      }
      @include mobile6{
        border: 20px ridge rgb(183, 170, 170);
      }
        
        }      
      td{
        margin: 8px;
        a{
            color: $color-h1;
        } 
      }
      
      #historia {
        @include mobile{
        display: none;
        }
      
        @include mobile2{
        display: flex;
            
 }
} 
  }
}
}
