.container{
  #sectuno{
    .parrafo{
      margin: 20px 100px 0 100px;
    
      @include pequeño{
       margin: 10px;
      }
      @include mobile{
        margin: 20px;
      } 
      @include mobile3{
        margin: 50px;
      }
      @include mobile5{
        margin: 20px 100px 0 100px;
      }
    }
.conten {
    position: relative;
    transition-duration: 1s;
    transition: transform 1s;
  &:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .conten__viaje{
    position: relative;
    z-index: 1;
    border: 2px solid #b25659;
    height: 170px;
    margin:20px;
    width:23%;
    left: 30%;
    @include pequeño{
      width: 55%;
      height: 100px;
      left:40px;
  } 
  @include mobile{
    width: 65%;
    height: 130px;
    left:40px;
  }
  @include mobile_otro{
      width: 26%;
      height: 65px;
      left:96px;
}
  @include mobile1{
    width: 26%;
    height:80px;
    left:120px;
  }

@include mobile2{
  width: 26%;
  height:110px;
  left:200px;
}
@include mobile3{
  width: 26%;
  height:150px;
  left:220px;
}
@include mobile4{
  width: 25%;
  height:170px;
  left:22%;
}
}
  .conten_viaje_caja {
    position: absolute;
    z-index: 3; 
    border: 2px solid #b25659;
    height: 170px;  
    width: 22%;
    left: 430px;
    top: 50px;
    @include pequeño{
      display:none;
    }
    @include mobile_otro{
     display: inline-block;
     height: 65px;
     width: 26%;
     left:170px;
    }
    @include mobile1{
      width: 22%;
     height: 90px;
     left: 200px;
    }
    @include mobile2{
      width: 23%;
     height: 110px;
     left: 300px;
    }
    @include mobile3{
      width: 26%;
      height:160px;
      left:320px;
    }
    @include mobile4{
      width: 26%;
      height:170px;
      left:400px;
    }
    @include mobile5{
      height: 160px;  
      width: 24%;
      left: 500px;
    }
   }
  
  .conten_viajecaja_otra {
    position: absolute;
    z-index: 4;
    border: 2px solid #b25659;
    width: 29%;
    left: 580px;
    top: 75px;
    height: 155px;
    @include pequeño{
    display: none;
  }
    @include mobile_otro{
    display: inline-block;
    width: 25%;
    height: 65px;
    left: 210px ;
  }
  @include mobile1{
    width: 23%;
    height: 65%;
    left: 250px;
  }
  @include mobile2{
    width: 22%;
   height: 110px;
   left: 400px;
  }
  @include mobile3{
    width: 26%;
    height:150px;
    left:400px;
  }
  @include mobile4{
    height: 170px;  
    width: 23%;
    left: 550px;
  }
  @include mobile5{
  width: 25%;
  left: 650px;
  height: 170px;
}
}
}
  .subtitulo{
    font-family: $font-ciudad;
    font-size: 2rem;
    text-align: center;
    margin: 50px;
    @include pequeño{
      font-size: 1.5rem;
    }
    @include mobile4{
      font-size: 2rem;
    }
  }
  
  .enumera{
      font-size: 1.1rem;
      font-weight: bold;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      transition:1s;
      .box1, .box2, .box3, .box4, .box5 {
        list-style-type: none;
        border: 8px ridge brown;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 15px;
        width: 25%;
        margin: 15px; 
        @include pequeño{
          width: 60%;
        }
        @include mobile2{
          padding: 2px;
          width: 25%;
        }
        @include mobile3{
          padding: 5px;
        }
        @include mobile5{
          padding: 10px;
        }
  
    &:hover{
     transform: scale(1.1);
     transition-duration: 2s;
     background-color: rgb(205, 121, 121);
     color: white;
     cursor: pointer;
  }
}
  } 
  }

  #sectdos{
  #iframe{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
  
  iframe{
    width: 100vw;
    height: 600px;
    border: none;
    @include pequeño{
      height: 400px;
    }
    @include mobile3{
      height: 600px;
    }
  }
}
  .mencion{
    font-size: 1.3rem;
    margin: 50px;
    @include pequeño{
      font-size: 1rem;
    }
  }
  }
}
