/*main*/
.container {
  width: 100vw;
  grid-area: container;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "sectuno sectuno"
    "sectdos sectdos";
  grid-column-gap: 5px;
  grid-row-gap: 5px;

#sectuno {
  grid-area: sectuno;

p {
  margin: 100px;
  font-size: 1.3rem;
  text-align: justify;

  @include mobile{
  font-size: .8rem;
  }
  @include mobile1{
    font-size: 1.3rem;
    }
  }
a{
  color: $color-h1;
}
}
#sectdos {
  grid-area: sectdos;

  .enumera {
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    transition:1s;

    .box1, .box2, .box3, .box4, .box5 {
      list-style-type: none;
      border: 8px ridge brown;
      border-top-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding: 15px;
      width: 25%;
      margin: 15px; 

  }
  }

.vistaPanoramica {
  width: 100vw;
  height: 30%;
}
}
}
