/*TRANSPORTE URBANO PASAJEROS*/
  
  /*ACCORDION BOOTSTRAP*/
  .container-fluid{
    .row{
     
      .titulo{
        font-family: $font-ciudad;
      } 
      .row{
        h2{
          font-family: $font-ciudad;
        } 
      
      }
  .accordion{
    background-color: transparent!important;
    opacity: 0.8 !important;
  }
  .accordion-button:focus{
    box-shadow: 0 0 0 0.25rem brown!important;
    color: brown!important;
    background-color: #c08383 !important;
  }
  .accordion-button:hover{
    color:#c38587;
  }
  .accordion-button:active{
    color: brown!important;
    background: rgb(143, 79, 79)!important;
  }
  .accordion-button{
    background-color: rgb(198, 119, 119) !important;
    font-family: "Dancing Script", cursive !important;
    font-size: 1.4rem !important;
    color:black !important;
  
  }
  
  .accordion-item{
    background-color: rgb(195, 110, 110)!important;
    border: none!important;
  }
}
     }
  

