@mixin tamanos($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin flexbox($orientacion, $justify, $align){
    display: flex;
    flex-direction: $orientacion;
    justify-content: $justify;
    align-content: $align;
}

@mixin flexbox2($justify, $align){
    display: flex;
    justify-content: $justify;
    align-content: $align;

}
@mixin flexbox3($orientacion, $justify, $align){
    display: flex;
    flex-direction: $orientacion;
    justify-items: $justify;
    align-items: $align;
}
@mixin flexbox4($orientacion, $flex-wrap){
    display: flex;
    flex-direction: $orientacion;
    flex-wrap:$flex-wrap;
}
@mixin flexbox5($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
