$background-header: brown;
$color-h1: white;
$font-ciudad: "Dancing Script", cursive;
$btn-accordion:"transparent";
$anchor: black;
$colors: (
  "primary": #f7dddd,
  "accordionItem": rgb(195, 110, 110),
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;